<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :service %><br />
    <%= f.check_box :service %>
  </div>
  <div class="field">
    <%= f.label :regiment %><br />
    <%= f.text_field :regiment %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :mustered_in %><br />
    <%= f.text_field :mustered_in %>
  </div>
  <div class="field">
    <%= f.label :mustered_out %><br />
    <%= f.text_field :mustered_out %>
  </div>
  <div class="field">
    <%= f.label :letter_id %><br />
    <%= f.text_field :letter_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :side %><br />
    <%= f.text_field :side %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
