<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Regiment</th>
    <th>Rank</th>
    <th>Letters</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to person.name, person %></td>
    <td><%= person.regiment %></td>
    <td><%= person.mustered_out %></td>
    <td><%= person.letter_id %></td>
    <td><%= link_to person.user_id, person.user_id %></td>
    <td><% if person.user == @user %><%= link_to 'Edit', edit_person_path(person) %><% end %></td>
    <td><% if person.user == @user %><%= link_to 'Remove', person, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
