<p id="notice"><%= notice %></p>

<h1> <%= @person.name %>
</h1>

<sidebar class="span-8">
<p>
  <b>Regiment:</b>
  <%= @person.regiment %>
</p>

<p>
  <b>Company:</b>
  <%= @person.company %>
</p>

<p>
  <b>Rank when mustered in:</b>
  <%= @person.mustered_in.capitalize %>
</p>

<p>
  <b>Rank when mustered out:</b>
  <%= @person.mustered_out.capitalize %>
</p>

<p>
  <b>Managed by</b> <%= @person.user_id %>
</p>
</sidebar>

<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>

<p>
  <b>Letters:</b>
  <%= @person.letter_id %>
</p>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Index of People', people_path %>

