<h1>Listing letters</h1>

<table>
  <tr>
    <th>Datewritten</th>
    <th>Author</th>
    <th>Letter</th>
    <th>Recipient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.datewritten %></td>
    <td><%= letter.author %></td>
    <td><%= letter.letter %></td>
    <td><%= letter.recipient %></td>
    <td><%= link_to 'Show', letter %></td>
    <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
    <td><%= link_to 'Destroy', letter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Letter', new_letter_path %>
