<h1>Listing regiments</h1>

<table>
  <tr>
    <th>Ordinal</th>
    <th>State</th>
    <th>Volunteer</th>
    <th>Independent</th>
    <th>Reg type</th>
    <th>Name</th>
    <th>Nickname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regiments.each do |regiment| %>
  <tr>
    <td><%= regiment.ordinal %></td>
    <td><%= regiment.state %></td>
    <td><%= regiment.volunteer %></td>
    <td><%= regiment.independent %></td>
    <td><%= regiment.reg_type %></td>
    <td><%= regiment.name %></td>
    <td><%= regiment.nickname %></td>
    <td><%= link_to 'Show', regiment %></td>
    <td><%= link_to 'Edit', edit_regiment_path(regiment) %></td>
    <td><%= link_to 'Destroy', regiment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regiment', new_regiment_path %>
