<p id="notice"><%= notice %></p>

<p>
  <b>Ordinal:</b>
  <%= @regiment.ordinal %>
</p>

<p>
  <b>Volunteer:</b>
  <%= @regiment.volunteer %>
</p>

<p>
  <b>State:</b>
  <%= @regiment.state %>
</p>

<p>
  <b>Reg type:</b>
  <%= @regiment.reg_type %>
</p>

<p>
  <b>Company:</b>
  <%= @regiment.company %>
</p>

<p>
  <b>Independent:</b>
  <%= @regiment.independent %>
</p>

<p>
  <b>Name:</b>
  <%= @regiment.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @regiment.nickname %>
</p>

<p>
  <b>Notes:</b>
  <%= @regiment.notes %>
</p>

<p>
  <b>Person:</b>
  <%= @regiment.person_id %>
</p>

<p>
  <b>Battle:</b>
  <%= @regiment.battle_id %>
</p>

<p>
  <b>Corps:</b>
  <%= @regiment.corps_id %>
</p>

<p>
  <b>Brigade:</b>
  <%= @regiment.brigade_id %>
</p>

<p>
  <b>Division:</b>
  <%= @regiment.division_id %>
</p>

<p>
  <b>Army:</b>
  <%= @regiment.army_id %>
</p>


<%= link_to 'Edit', edit_regiment_path(@regiment) %> |
<%= link_to 'Back', regiments_path %>
